@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #dadada;
  color: black;
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: #faf9f9;
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 0px solid rgb(49, 49, 49);
  padding: 30px;
  border-radius: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: #1f1f1f;
}

.heading{
  font-size: 28px;
  font-weight: bolder;

}
.btn {
  display: inline-block;
  background: #c22b2b; 
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: grab;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
  cursor: grabbing;
}


.btn-block {
  display: block;
  width: 100%;
}

.task {
  color: black;
  background-color: #e9ecef;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  align-content: space-between;
  border-radius: 5px;
}

.task.reminder {
  border-left: 5px solid green;
  border-radius: 5px;
}

.task h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input, input:focus  {
  width: 100%;
  height: 40px;
  margin: 5px;
  background-color: #f3f3f3;
  border: none;
  border-radius: 5px;
  padding: 3px 7px;
  font-size: 17px;
  outline: none;
} 
input:focus  {
  width: 100%;
  height: 40px;
  margin: 5px;
  background-color: #f3f3f3;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 3px 7px;
  font-size: 17px;
  outline: none;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 30px;
  text-align: center;
}